@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');

:root {
  --primary-color: #cfb9ff;
  --secondary-color: #dcff79;
  --tertiary-color: rgba(219, 255, 121, 0.433);
  --accent-color: #fda5d8;
  --highlight-color: #f7e9e6;
  --border-line-fill: #000;
  --border-line-empty: rgba(113, 113, 113, 0.652);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--highlight-color);
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--tertiary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 50%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-line-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--border-line-fill);
}

.btn {
  background-color: var(--accent-color);
  color: var(--border-line-fill);
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--tertiary-color);
  color: var(--border-line-empty);
}
