@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
